* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}

body {
    background: rgb(200, 199, 219);
}

input, button {
    border: 1px solid rgb(167, 167, 167);
    border-radius: 8px;
    padding: 2px 0;
    background: rgb(230, 229, 252);
}

.register-form {
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin: 8px 0;
}

.register-container {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.errors > ul >li {
    margin: 8px 0;
    font-weight: 600;
    list-style: none;
}

.errors {
    position: absolute;
    top: 0;
    right: 0;
    background: #ff9f8e;
    color: #540000;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
}
